<!DOCTYPE html>
<html lang="en" ng-app="PrintApp">
<head>
    <meta charset="UTF-8">
    <title>Impression en couleur</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="src/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />
</head>
<body>

<div class="container">
    <div class="page-header">
        <div align="center">
        <img src="images/logo_cegep.png" alt="Logo Cégep de l'Outaouais" />
        </div>
      <h1>Impression en
          <span style='color:#FF0000;'>c</span><span style='color:#FFDA00;'>o</span><span style='color:#48FF00;'>u</span><span style='color:#00FF91;'>l</span><span style='color:#0091FF;'>e</span><span style='color:#4800FF;'>u</span><span style='color:#FF00DA;'>r</span>
          du Département de l'Informatique
      </h1>
    </div>

    <div class="panel panel-primary" ng-controller="FileController">
        <div class="panel-heading">
            <h3 class="panel-title">Téléchargement de fichiers</h3>
        </div>

        <div class="alert alert-success" ng-if="printSuccess === true && printFiles.length == 0">
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <ng-pluralize count="printedFiles.length" when="{
                '1': 'Le fichier suivant a été envoyé à l\'imprimante avec succès:',
                'other': 'Les fichiers suivants ont été envoyés à l\'imprimante avec succès:'
            }" ></ng-pluralize>
            <ul>
                <li ng-repeat="(k, v) in printedFiles">{{v.name}}</li>
            </ul>
        </div>
        <div class="alert alert-danger" ng-if="printError === true && printFiles.length == 0">
            Une erreur est survenue lors de la transmission de vos fichiers.
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        </div>

        <div class="panel-body">
            <form class="form-horizontal" name="myForm" enctype="multipart/form-data">
                <fieldset>
                    <p>Sélectionnez les fichiers à imrpimer et appuyez sur Imprimer. Vous pouvez sélectionner plusieurs fichiers en tenant la touche <strong>CTRL</strong> enfoncée.</p>
                    <div class="form-group">
                        <label class="col-sm-2">Fichiers: </label>
                        <div class="col-sm-10">
                            <input type="file" ng-model="printFiles" ng-disabled="isUploading == true" ngf-multiple="true" ngf-drop name="printFiles" ngf-select>
                        </div>
                    </div>
                    <div class="alert alert-info" role="alert" ng-repeat="(k, v) in printFiles">
                        <button class="btn btn-danger" ng-click="delete(k)" ng-disabled="isUploading == true"><span class="glyphicon glyphicon-remove"></span></button>
                        {{v.name}} - {{v.size | bytes}}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Progression:</label>
                        <div class="col-sm-10">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
                                    <span class="sr-only">{{progress}}% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <button class="btn btn-primary" ng-click="submit()" ng-disabled="printFiles.length <= 0 || isUploading == true">Envoyer à l'imprimante</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="panel panel-primary" ng-controller="HistoryController as histCtrl">
        <div class="panel-heading">
            <h3 class="panel-title">Historique des impressions - <ng-pluralize count="histCtrl.log.length" when="{'0': '0 document', '1': '1 document', 'other': '{{histCtrl.log.length}} documents'}" /></ng-pluralize></h3>
        </div>

        <div class="panel-body">
            <input type="text" name="logFilter" ng-model="histCtrl.logFilter" placeholder="Filtre...">
            <table class="table table-striped table-hover">
            	<thead>
            		<tr>
                        <th>
                            <a href="#" ng-click="histCtrl.orderName='name'; histCtrl.orderReverse = !histCtrl.orderReverse">
                                Nom du fichier
                                <i ng-show="histCtrl.orderName=='name' && histCtrl.orderReverse==true" class="fa fa-caret-down"></i>
                                <i ng-show="histCtrl.orderName=='name' && histCtrl.orderReverse==false" class="fa fa-caret-up"></i>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="histCtrl.orderName='ip'; histCtrl.orderReverse = !histCtrl.orderReverse">
                                Adresse IP
                                <i ng-show="histCtrl.orderName=='ip' && histCtrl.orderReverse==true" class="fa fa-caret-down"></i>
                                <i ng-show="histCtrl.orderName=='ip' && histCtrl.orderReverse==false" class="fa fa-caret-up"></i>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="histCtrl.orderName='size'; histCtrl.orderReverse = !histCtrl.orderReverse">
                                Taille
                                <i ng-show="histCtrl.orderName=='size' && histCtrl.orderReverse==true" class="fa fa-caret-down"></i>
                                <i ng-show="histCtrl.orderName=='size' && histCtrl.orderReverse==false" class="fa fa-caret-up"></i>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="histCtrl.orderName='date'; histCtrl.orderReverse = !histCtrl.orderReverse">
                                Date
                                <i ng-show="histCtrl.orderName=='date' && histCtrl.orderReverse==true" class="fa fa-caret-down"></i>
                                <i ng-show="histCtrl.orderName=='date' && histCtrl.orderReverse==false" class="fa fa-caret-up"></i>
                            </a>
                        </th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr ng-repeat="log in histCtrl.log | filter:histCtrl.logFilter | orderBy: histCtrl.orderName:histCtrl.orderReverse">
            			<td>{{log.name}}</td>
                        <td>{{log.ip}}</td>
                        <td>{{log.size | bytes}}</td>
                        <td>{{log.date | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
            		</tr>
            	</tbody>
            </table>
        </div>

    </div>
</div>

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="lib/ng-file-upload/ng-file-upload.min.js"></script>

<script src="src/app.js"></script>
</body>
</html>